ul, li {
    list-style: none;
    display: inline;
}

* {
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.square {
    display: inline-block;
    background-color: lightyellow;
}

.black {
    background-color: lightseagreen;
}

.black {
    background-color: lightseagreen;
}

.n_characters, .n_numbers {
    position: absolute;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: lightseagreen;
}

.n_numbers {
    top: 0;
    right: 3px;
}

.n_characters {
    bottom: 0;
    left: 3px;
}

.black > .n_numbers, .black > .n_characters {
    color: lightyellow;
}

img {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none !important;
}


.piece_svg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.p_p {
    background-image: url("/pieces/set1/bP.svg");
}

.p_P {
    background-image: url("/pieces/set1/wP.svg")
}
.p_b{
    background-image: url("/pieces/set1/bB.svg")
}
.p_B {
    background-image: url("/pieces/set1/wB.svg")
}
.p_n {
    background-image: url("/pieces/set1/bN.svg")
}
.p_N {
    background-image: url("/pieces/set1/wN.svg")
}
.p_r {
    background-image: url("/pieces/set1/bR.svg")
}
.p_R {
    background-image: url("/pieces/set1/wR.svg")
}
.p_q{
    background-image: url("/pieces/set1/bQ.svg")
}
.p_Q {
    background-image: url("/pieces/set1/wQ.svg")
}
.p_k {
    background-image: url("/pieces/set1/bK.svg")
}
.p_K {
    background-image: url("/pieces/set1/wK.svg")
}